[gcode_macro G28]
description: Fix idex bug
rename_existing: G28.1
gcode:
  G28.1 {rawparams}
  ACTIVATE_EXTRUDER EXTRUDER=extruder

# Helper script to park the carriage (called from T0 and T1 macros)
[gcode_macro PARK_extruder]
gcode:
    SAVE_GCODE_STATE NAME=park0
    G91
    G0 Z5
    G90
    G0 X{printer.configfile.config.stepper_x.position_endstop} F{printer.configfile.config.stepper_x.homing_speed*60}
    G91
    G0 Z-5
    RESTORE_GCODE_STATE NAME=park0

# Activate the primary extruder
[gcode_macro T0]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=0

[gcode_macro PARK_extruder1]
gcode:
    SAVE_GCODE_STATE NAME=park1
    G91
    G0 Z5
    G90
    G0 X{printer.configfile.config.dual_carriage.position_endstop} F{printer.configfile.config.dual_carriage.homing_speed*60}
    G91
    G0 Z-5
    RESTORE_GCODE_STATE NAME=park1

[gcode_macro T1]
gcode:
    PARK_{printer.toolhead.extruder}
    ACTIVATE_EXTRUDER EXTRUDER=extruder1
    SET_DUAL_CARRIAGE CARRIAGE=1
    
# A helper script to activate copy mode
[gcode_macro ACTIVATE_COPY_MODE]
gcode:
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    G1 X0
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
    G1 X100
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=COPY
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder

# A helper script to activate mirror mode
[gcode_macro ACTIVATE_MIRROR_MODE]
gcode:
    SET_DUAL_CARRIAGE CARRIAGE=0 MODE=PRIMARY
    G1 X0
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=PRIMARY
    G1 X200
    SET_DUAL_CARRIAGE CARRIAGE=1 MODE=MIRROR
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder


[gcode_macro M106]
gcode:
    {% if params.P is defined %}
      {% if params.S is defined %}
        SET_PIN PIN=fan{params.P|int} VALUE={params.S|int}
      {% else %}
        SET_PIN PIN=fan{params.P|int} VALUE=255
      {% endif %}
    {% else %}
      {% if params.S is defined %}
        {% if printer.dual_carriage.carriage_0 == "PRIMARY" %}
          SET_PIN PIN=fan0 VALUE={params.S|int}
        {% else %}
          SET_PIN PIN=fan1 VALUE={params.S|int}
        {% endif %}      
      {% else %}
        {% if printer.dual_carriage.carriage_0 == "PRIMARY" %}
          SET_PIN PIN=fan0 VALUE=255
        {% else %}
          SET_PIN PIN=fan1 VALUE=255
        {% endif %}
      {% endif %}
    {% endif %}

[gcode_macro M107]
gcode:
    {% if params.P is defined %}
      SET_PIN PIN=fan{params.P|int} VALUE=0      
    {% else %}
      SET_PIN PIN=fan0 VALUE=0
      SET_PIN PIN=fan1 VALUE=0      
    {% endif %}


## An optional input shaper support
#[input_shaper]
## The section is intentionally empty
#
#[delayed_gcode init_shaper]
#initial_duration: 0.1
#gcode:
#    SET_DUAL_CARRIAGE CARRIAGE=1
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<dual_carriage_shaper> SHAPER_FREQ_X=<dual_carriage_freq> SHAPER_TYPE_Y=<y_shaper> SHAPER_FREQ_Y=<y_freq>
#    SET_DUAL_CARRIAGE CARRIAGE=0
#    SET_INPUT_SHAPER SHAPER_TYPE_X=<primary_carriage_shaper> SHAPER_FREQ_X=<primary_carriage_freq> SHAPER_TYPE_Y=<y_shaper> SHAPER_FREQ_Y=<y_freq>